<div class = "new-lists">

  <%= form_with(model: @wordlist, local: true) do |form| %>
  
    <%# エラー発生時のメッセージ表示%>
    <%= render 'error_messages', model: form.object %>
    <%# //エラー発生時のメッセージ表示%>
    
    <div class = "lists-name">
      <%= form.text_field :listname, placeholder: "リストの名前", class: "listname" %>
    </div>
    <div class = "lists-text">
      <%= form.text_area :text, placeholder: "説明文", rows: "4", class: "listtext" %>
    </div>
    <div class = "List-release">
      <%= form.collection_select(:release_id, Release.all, :id, :name, {}, {class: "release-select"}) %>
    </div>
    <div class = "lists-btn">
      <%= form.submit "リスト作成" %>
    </div>
  <% end %>
</div>
