<div class = "main">
  <div class = "word-lists">
  <% if @wordlists.length != 0%>
    <% @wordlists.each do |wordlist|%>
    <ul>
      <li class = "lists">
        <%= link_to wordlist_path(wordlist.id), class: "listlink" do %>
          <div class = "list-name-content">
            <%= wordlist.listname%>
          </div>

          <div class = "list-text-content">
            <%= wordlist.text%>
          </div>
        <% end %>
      </li>
    </ul>
    <% end %>
    <% else %>
    <p>単語を登録しよう！</p>
    <% end %>
  </div>
  <div class = "index-page">
  <%= paginate @wordlists%>
  </div>
  <%= link_to "新規リスト作成", new_wordlist_path, class: "new-list-btn" %>
</div>