<div class = "main">
  <div class = "word-lists">
  <% if Wordlist.where("release_id = 1").length != 0 %>
    <% @wordlists.each do |wordlist|%>
    <% if wordlist.release_id == 1 %>
    <ul>
      <li class = "lists">
        <%= link_to wordlist_path(wordlist.id), class: "listlink" do %>
          <p class = "border">リストの名前：</p>
          <div class = "list-name-content">
            <%= wordlist.listname%>
          </div>
          <p  class = "border">説明：</p>
          <div class = "list-text-content">
            <%= wordlist.text%>
          </div>
        <% end %>
          <%= link_to "作成者: #{wordlist.user.nickname}", user_path(wordlist.user.id) , class: "create-list-user" %>
      </li>
    </ul>
    <% end %>
    <% end %>
    <% else  %>
    <p>単語を登録しよう！</p>
    <% end %>
  </div>
  <div class = "index-page">
  <%= paginate @wordlists%>
  </div>
</div>