<div class = "main">
  <div class = "word-lists">
  <% if Wordlist.where("release_id = 1").length != 0 %>
    <% @wordlists.each do |wordlist|%>
    <% if wordlist.release_id == 1 %>
    <ul>
      <li class = "lists">
        <%= link_to wordlist_path(wordlist.id), class: "listlink" do %>
          <div class = "list-name-content">
            <%= wordlist.listname%>
          </div>
          <div class = "list-text-content">
            <%= wordlist.text%>
          </div>
        <% end %>
          <p>by_<%= wordlist.user.nickname%></p>
      </li>
    </ul>
    <% end %>
    <% end %>
    <% else  %>
    <p>単語を登録しよう！</p>
    <% end %>
  </div>
  <div class = "index-page">
  <%= paginate @wordlists%>
  </div>
</div>