<div class = "showwrapper">
  <div class = "list-show">

    <%# 単語表示ボタン %>
    <% if @words.length != 0 %>
      <div class = "wordmemory">
        <%= link_to "単語を覚える", wordlist_words_path(@wordlist.id) , class: "memory"%>
        <%= link_to wordlist_wordsrand_path(@wordlist.id) , class: "memory" do %>
          単語を覚える<br>(ランダム表示)
        <% end %>
      </div>
      <% else %>
      <div class = "no-words">単語を登録しよう！</div>
    <% end %>

    <%# ワードリスト詳細表 %>
    <div class = "list-tr">
      <p class = "show-ex">リストの名前</p>
      <h2 class = "show-listname"><%= @wordlist.listname %></h2>
      <p class = "show-ex">説明</p>
      <%= simple_format (@wordlist.text), class: "show-listtext"%>
      <p class = "show-nickname">リスト作成者</p>
      <p class = "show-list-nickname"><%= link_to @wordlist.user.nickname, user_path(@wordlist.user.id) %></p>

    <%# 作成者のみ表示される %>
    <% if user_signed_in? && current_user.id == @wordlist.user_id %>
        <p class = "show-ex ex-user">共有ユーザー</p>
        <p class = "show-authority">
        <% @authority.each do |authority| %>
          <% link_to edit_wordlist_authority_path(@wordlist.id, authority.id) do %>
            <%= authority.authority_user_code %>
          <% end %>
        <% end %>
        </p>
        </div>

          <%# リスト編集ボタン、単語登録ボタン %>
          <ul class = "show-btn">
            <li>
              <%= link_to "リストを編集する", edit_wordlist_path(@wordlist.id), class: "editbtn"%>
            </li>
            <li>
              <%= link_to "リストを他のユーザーと共有する" , new_wordlist_authority_path(@wordlist.id) , class: "authoritybtn" %>
            </li>
            <li>
              <%= link_to "リストを削除する", wordlist_path(@wordlist.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "destroybtn"%>
            </li>
          </ul>
        <div class = "word-regi">
          <%= link_to "単語を登録する", new_wordlist_word_path(@wordlist.id), class: "regi" %>
        </div>
      <% else %>
        </div>

          <%# リスト共有者のみ表示される、リスト編集ボタン、単語登録ボタン %>
          <% if user_signed_in? && @authority_user != nil && @authority_user.authority_user_code == current_user.user_code %>
            <ul class = "show-btn">
              <li>
                <%= link_to "リストを編集する", edit_wordlist_path(@wordlist.id), class: "editbtn"%>
              </li>
            </ul>
            <div class = "word-regi">
              <%= link_to "単語を登録する", new_wordlist_word_path(@wordlist.id), class: "regi" %>
            </div>
          <% end %>

        <%# お気に入りボタン %>
        <div class = "favorite" id = 'favorites_buttons_<%= @wordlist.id %>'>
          <%= render partial: 'favorites/favorite', locals: { wordlist: @wordlist} %>
        </div>
    <% end %>
  </div>


  <%# 単語一覧表示 %>
  <div class = "word-show">
    <h1>単語一覧</h1>
    <div class = "word-text">
      <p class = "wname">単語の名前：</p>
      <p class = "wmean">単語の意味：</p>
    </div>
      <% if @words %>
          <% @words.each do |word| %>
        <div class = "word-list">
            <p class = "word-list-name" ><%= word.wordname%></p>
            <p class = "word-list-mean" ><%= word.mean%></p>

            <%# 投稿者のみ表示される編集ボタン %>
            <% if user_signed_in? && current_user.id == @wordlist.user_id %>
              <%= link_to "編集", edit_wordlist_word_path(word.wordlist.id , word.id), class: "word-edit-btn"%>
              <%= link_to "削除", wordlist_word_path(word.wordlist.id , word.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "word-delete-btn"%>

            <%# 共有ユーザーのみ表示される編集ボタン %>
            <% elsif user_signed_in? && @authority_user != nil && @authority_user.authority_user_code == current_user.user_code %>
              <%= link_to "編集", edit_wordlist_word_path(word.wordlist.id , word.id), class: "word-edit-btn"%>
            <% end %>
        </div>
        <% end %>
      <% end %>
  </div>
</div>