<!DOCTYPE html>
<html>
  <head>
    <title>単語帳</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class = "header">
        <div class = "title-contents">
          <div class = "title">
            <h1><a href="/">単語帳アプリ</a></h1>
            <p>自分だけの単語帳を登録しよう！</p>
          </div>
          <%= form_with(url: search_wordlists_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.select 'search[model]', options_for_select({ "ユーザー" => "user", "リスト" => "list" }) %>
          <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
          <% end %>
          <div class = "header-user">
            <% if user_signed_in?%>
              <ul class = "logout">
                <li>
                  <%= link_to "お気に入り一覧", favorite_path, class: "header-btn" %>
                  <%= link_to "マイページ", user_path(current_user.id), class: "header-btn" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-btn" %>
                </li>
              </ul>
            <% else %>
              <ul class = "login">
                <li>
                  <%= link_to "新規登録", new_user_registration_path, class: "header-btn" %>
                  <%= link_to "ログイン", new_user_session_path, class: "header-btn" %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
        
    </header>
    <%= yield %>
    <footer class = "footer">
      <div>
        </div>
        <% if user_signed_in? %>
          <%= link_to "新規リスト作成", new_wordlist_path, class: "new-list-btn" %>
        <% end %>
        </div>
      </div>
    
    </footer>
  </body>
</html>
